<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Feed </title>
<link href="../feed.css" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script>
    function checkBalance(price){
        
        if (Number("<%= user.Wallet %>") < price){
        
            alert("You dont have enough balance to rent this book, please use Paypal instead!");
            window.location("#");
        }
        else{
            document.getElementById("Walletform").submit();
        }
    }


    function submitwishlist(){
        alert("The book has been added to your wishlist!");
        documen.getElementById("wishlist").submit();
    }

    
</script>
</head>
<body>
    <div class="topnav">
            <a class="active" href="#">Home</a>
            <!-- <a href="Post-Book.html">Rental Form</a> -->
            <a href="/post">Rental Form</a>
            <!-- <a  href="Profile.html">Profile</a> -->
            <a  href="/profile">Profile</a>
            <a href="/wishlist">Wishlist</a>
            <div class="topnav-right">
                <a href="/profile">Welcome <%= user.fname %> <%= user.lname %></a>
                <a href="/logout">Logout</a>
            </div>
    </div>


    <form action="/search" id="search" class="search" method="post"  role="form">

        <label for="subject" placeholder="Search By Title"></label>
           <input type="text" id="title" placeholder="Search By Title" name="title">
        
           <a class="btn btn-success btn-s" href="#" onclick="document.getElementById('search').submit()"><i class="fa fa-search"></i></a>
    </form>

    <form action="/filter" id="filter" class="form-inline" method="post"  role="form">

        <label for="subject">Filter By Subject:</label>
            <select class="form-control" name="fltrsubject">
                <option value=""></option>
                <option value="Math">Math</option>
                <option value="English">English</option>
                <option value="Chemistry">Chemistry</option>
                <option value="Biology">Biology</option>
                <option value="Physics">Physics</option>
                <option value="Computer Science">Computer Science</option>
            </select>
        
        <label for="condition">Filter By Condition</label>
            <select class="form-control" name="fltrcondition">
                <option value=""></option>
                <option value="New">New</option>
                <option value="Like New">Like New</option>
                <option value="Chemistry">Used</option>
            </select>
        <a class="btn btn-success btn-s" href="#" onclick="document.getElementById('filter').submit()"><i class="fa fa-filter"></i></a>
    </form>

    <div type='container'>
        <h2>Wayne Book Rental</h2>
        <section id="main-content">
            <div id="book-feed" role="feed"></div>
        </section>
        <div class="post-topbar">
            <a href="/post"><button class="btn book" >Post Book</button></a>
        </div>
        <%if (books.length > 0){ %>
        <% books.forEach(function (PostBook) { 
            if (PostBook.Rented == false) {%>
        <form action="/pay/<%= PostBook._id %>" method = "POST">
        <div class ="post-bar">
            <div class="row">
                <div class="column">
                    <a target="_blank" href="">
                        <img src="../uploads/<%=PostBook.Image %>"" alt="book" style="width:260px; height: 290px;">
                    </a>
                </div>
                <div class="column" style="margin-left:5%;">
                    <h3 class="post-details"><%= PostBook.Title %></h3>
                    <p class="post-details">Author: <%= PostBook.FName %> <%= PostBook.LName %></p>
                    <p class="post-details">Publisher: <%= PostBook.Publisher %></p>
                    <p class="post-details">Edition: <%= PostBook.Edition %></p>
                    <p class="post-details">Subject: <%= PostBook.Subject %></p>
                    <p class="post-details">ISBN: <%= PostBook.Isbn %></p>
                    <p class="post-details">Condition: <%= PostBook.Condition %> </p>
                    <p class="post-details">Description: <%= PostBook.Description %> </p>
                    <p class="post-details">Book Owner: <a href="/ownerprofile/<%=PostBook.OwnerID%>">  <%= PostBook.OwnerFname %> <%= PostBook.OwnerLname %></a></p>
                    <p class="post-details">Renting Price: $<%= PostBook.Price %> </p>
                </div>
                </div>

                <form action="/pay" id="paypal" method="post"  role="form">
                    <button type="submit" class="btn btn-primary btn-sm">Paypal</button>
                </form>

                <form action="/payout/<%= user._id %>" id="paypal" method="post"  role="form">
                    <button type="submit" class="btn btn-primary btn-sm">Pay User</button> 
                </form>
                
                <div class ="column">
                    <% if (PostBook.OwnerID != user._id) {%>
                    <div class="btn-buy-details"  style="text-align: center; width: 100%; margin-left: 110%;" >
                        <button id ="btnBook" class="btn book" style="background-color: white;"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_200x51.png"></button> 
                        <form action="/WBRWallet/<%= PostBook._id %>" id="Walletform" method="POST" role="form">
                            <button type="button" class="btn btn-success btn-lg" onclick="checkBalance('<%= PostBook.Price %>');">Use WBR Balance</button> 
                        </form>
                        <form action="/wishlist/<%= PostBook._id %>" id="wishlist" method="POST" role="form">
                            <button type="button" class="btn btn-primary btn-lg" onclick="submitwishlist();">Add book to wishlist</button>
                        </form>
                    </div>
                    <% }else{%>
                        <div class="btn-edit" style = "text-align: center; width: 100%; margin-left: 110%;">
                            <a class="btn btn-primary btn-lg" href="/edit/<%= PostBook._id %>"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-danger btn-lg" href="/delete/<%= PostBook._id %>"><i class="fa fa-trash"></i></a>
                        </div>
                    <% } %>
                </div>                
              
        </div>
    </form>
        <% }})}else{ %>
            <h3 style="text-align: center;">No Record Found</h3>
            <% } %>
        <!-- <div class ="post-bar">
            <div class="row">
                <div class="column">
                    <a target="_blank" href="INTOALGO.png">
                        <img src="INTOALGO.png" alt="book" style="width:260px; height:300px;">
                    </a>
                </div>
                <div class ="column">
                    <h3 class="post-details">Introduction to Algorithms</h3>
                    <p class="post-details">Author: Thomas H. Cormen</p>
                    <p class="post-details">Publisher: MIT Press</p>
                    <p class="post-details">Edition: 3rd edition</p>
                    <p class="post-details">ISBN-13: 9780262033848</p>
                    <p class="post-details">ISBN-10: 0262033844</p>
                    <p class="post-details">Price: $11.99</p>
                </div>
                
            </div>
            
            <div class ="column">
                    <div class="btn-buy-details">
                        <button class="btn book" > Book Rent</button>
                    </div>
            </div>
            
            
        </div>
        <div class ="post-bar">
            <div class="row">
                <div class="column">
                    <a target="_blank" href="Neuroscience.png">
                        <img src="Neuroscience.png" alt="book" style="width:150px">
                    </a>
                </div>
                <div class ="column">
                    <h3 class="post-details">Neuroscience</h3>
                    <p class="post-details">Author: Purves et al</p>
                    <p class="post-details">Publisher: Sinauer Associates </p>
                    <p class="post-details">Edition: 6th edition</p>
                    <p class="post-details">ISBN-13: 9781605353807 </p>
                    <p class="post-details">ISBN-10: 1605353809</p>
                    <p class="post-details">Price: $10.99</p>
                </div>
                </div>
                
                <div class ="column">
                    <div class="btn-buy-details">
                        <button class="btn book" > Book Rent</button>
                    </div>
                </div>
            
        </div>
    </div> -->
    <footer class ="PostFooter">
        <p><small>Proudly Build in Detroit <br> © 2020 Team BookKeepers. All Rights Reserved. </small></p>
    </footer>
</body>
</html>
