<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Feed </title>
<link href="../feed.css" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
    <div class="topnav">
            <a class="active" href="#">Home</a>
            <!-- <a href="Post-Book.html">Rental Form</a> -->
            <a href="/post">Rental Form</a>
            <!-- <a  href="Profile.html">Profile</a> -->
            <a  href="/profile">Profile</a>
            <div class="topnav-right">
                <a href="/logout">Logout</a>
            </div>
    </div>


    <form action="/search" id="search" class="search" method="post"  role="form">

        <label for="subject" placeholder="Search By Title"></label>
           <input type="text" id="title" placeholder="Search By Title" name="title">
        
           <a class="btn btn-success btn-s" href="#" onclick="document.getElementById('search').submit()"><i class="fa fa-search"></i></a>
    </form>

    <form action="/filter" id="filter" class="form-inline" method="post"  role="form">

        <label for="subject">By Subject:</label>
            <select class="form-control" name="fltrsubject">
                <option value=""></option>
                <option value="Math">Math</option>
                <option value="English">English</option>
                <option value="Chemistry">Chemistry</option>
                <option value="Biology">Biology</option>
                <option value="Physics">Physics</option>
                <option value="Computer Science">Computer Science</option>
            </select>
        
        <label for="condition">By Condition</label>
            <select class="form-control" name="fltrcondition">
                <option value=""></option>
                <option value="New">New</option>
                <option value="Like New">Like New</option>
                <option value="Chemistry">Used</option>
            </select>
        <a class="btn btn-success btn-s" href="#" onclick="document.getElementById('filter').submit()"><i class="fa fa-filter"></i></a>
    </form>

    <div type='container'>
        <h2>Wayne Book Rental</h2>
        <section id="main-content">
            <div id="book-feed" role="feed"></div>
        </section>
        <div class="post-topbar">
            <a href="/post"><button class="btn book" >Post Book</button></a>
        </div>
        <%if (books.length > 0){ %>
        <% books.forEach(function (PostBook) { %>
        <div class ="post-bar">
            <div class="row">
                <div class="column">
                    <a target="_blank" href="">
                        <img src="../uploads/<%=PostBook.Image %>"" alt="book" style="width:260px; height: 290px;">
                    </a>
                </div>
                <div class="column" style="margin-left:5%;">
                    <h3 class="post-details"><%= PostBook.Title %></h3>
                    <p class="post-details">Author: <%= PostBook.FName %> <%= PostBook.LName %></p>
                    <p class="post-details">Publisher: <%= PostBook.Publisher %></p>
                    <p class="post-details">Edition: <%= PostBook.Edition %></p>
                    <p class="post-details">Subject: <%= PostBook.Subject %></p>
                    <p class="post-details">ISBN: <%= PostBook.Isbn %></p>
                    <p class="post-details">Condition: <%= PostBook.Condition %> </p>
                    <p class="post-details">Description: <%= PostBook.Description %> </p>
                    <p class="post-details">Book Owner: <%= PostBook.OwnerFname %> <%= PostBook.OwnerLname %></p>
                    <p class="post-details">Renting Price: $<%= PostBook.Price %> </p>
                </div>
                </div>
                
                <div class ="column">
                    <div class="btn-buy-details">
                        <button class="btn book" > Book Rent</button>
                    </div>
                </div>   
                <!-- Profile page needs to be active so we can put edit button on user's posts from profile page as well, 
                    and only the poster can edit the post-->
                    <div class ="edit_column"> 
                        <div class="btn-edit">
                            <a href="views/Post-BookV2.ejs">
                                <button class="btn book" > Edit</button>
                            </a>
                        </div>
                    </div>

        </div>
        <% })}else{ %>
            <h3 style="text-align: center;">No Record Found</h3>
            <% } %>
        <!-- <div class ="post-bar">
            <div class="row">
                <div class="column">
                    <a target="_blank" href="INTOALGO.png">
                        <img src="INTOALGO.png" alt="book" style="width:260px; height:300px;">
                    </a>
                </div>
                <div class ="column">
                    <h3 class="post-details">Introduction to Algorithms</h3>
                    <p class="post-details">Author: Thomas H. Cormen</p>
                    <p class="post-details">Publisher: MIT Press</p>
                    <p class="post-details">Edition: 3rd edition</p>
                    <p class="post-details">ISBN-13: 9780262033848</p>
                    <p class="post-details">ISBN-10: 0262033844</p>
                    <p class="post-details">Price: $11.99</p>
                </div>
                
            </div>
            
            <div class ="column">
                    <div class="btn-buy-details">
                        <button class="btn book" > Book Rent</button>
                    </div>
            </div>
            
            
        </div>
        <div class ="post-bar">
            <div class="row">
                <div class="column">
                    <a target="_blank" href="Neuroscience.png">
                        <img src="Neuroscience.png" alt="book" style="width:150px">
                    </a>
                </div>
                <div class ="column">
                    <h3 class="post-details">Neuroscience</h3>
                    <p class="post-details">Author: Purves et al</p>
                    <p class="post-details">Publisher: Sinauer Associates </p>
                    <p class="post-details">Edition: 6th edition</p>
                    <p class="post-details">ISBN-13: 9781605353807 </p>
                    <p class="post-details">ISBN-10: 1605353809</p>
                    <p class="post-details">Price: $10.99</p>
                </div>
                </div>
                
                <div class ="column">
                    <div class="btn-buy-details">
                        <button class="btn book" > Book Rent</button>
                    </div>
                </div>
            
        </div>
    </div> -->
    <footer class ="PostFooter">
        <p><small>Proudly Build in Detroit  © 2020 Team BookKeepers. All Rights Reserved. </small></p>
    </footer>
</body>
</html>
