<!DOCTYPE>
<html>
    <head>
        <title> Wayne Book-Rental</title>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="../Profile.css" rel="stylesheet">
        <script>
            document.addEventListener('DOMContentLoaded' ,function(){
                let stars =document.querySelectorAll('.star');
                stars.forEach(function(star){
                    star.addEventListener('click', setRating);
                });
                
                let rating = parseInt(document.querySelector('.stars').getAttribute('data-rating'));
                let target = stars[rating-1];
                target.dispatchEvent(new MouseEvent('click'));
            });
            
            function setRating(ev){
                let span = ev.currentTarget;
                let stars = document.querySelectorAll('.star');
                let match = false;
                let num =0;
                stars.forEach(function(star, index){
                    if(match){
                        star.classList.remove('rated');
                    }
                    else{
                        star.classList.add('rated');
                        
                    }
                    if(star === span){
                        match = true;
                        num = index +1;
                    }
                })
                document.querySelector('.stars').setAttribute('data-rating', num);
                
                }
        
        
        
        </script>
    </head>
    <body style="background-image:url(../Background.jpeg)">
        <div class="topnav">
            <a href="/feed">Home</a>
            <a href="/post">Rental Form</a>
            <a class="active" href="/profile">Profile</a>
            <div class="topnav-right">
                <a href="/logout">Logout</a>
            </div>
        </div>


        <div class = "container">

            <div class = "wrapper">
                <h1 class="head" style="text-align: center;"> <%= Owner.fname %> <%= Owner.lname %></h1>
                <div style="text-align: center;">
                    <img class='img-circle profile-img' height=110 width=120 src='../Images/default.png'></div>
                <br>
                <div class="stars" data-rating = "0" style="text-align: center;">
                    <span class="star">&nbsp;</span>
                    <span class="star">&nbsp;</span>
                    <span class="star">&nbsp;</span>
                    <span class="star">&nbsp;</span>
                    <span class="star">&nbsp;</span>
                    
                  </div>  
                <form>
                    <div class="row" >
                         <div class="profile-user-info" >
                            <div class="profile-info-row" >
                                <div class="profile-info-name" > Firstname </div>

                                <div class="profile-info-value">
                                    <span><%= Owner.fname %></span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Lastname </div>

                                <div class="profile-info-value">
                                    <span><%= Owner.lname %></span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Email </div>

                                <div class="profile-info-value">
                                    <span><%= Owner.email %></span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Joined </div>

                                <div class="profile-info-value">
                                    <span>10/29/2020</span>
                                </div>
                            </div>
                        </div>

                        <div class="hr hr-8 dotted"></div>

                                <div class="profile-info-value">
                                    <a href="#" target="_blank"></a>
                                </div>
                            </div>
                        </div>
                    </div>         
                </form>
                
                <div type='container'>
                    <h2><%= Owner.fname %>'s listing</h2>
                    <section id="main-content">
                        <div id="book-feed" role="feed"></div>
                    </section>
                    <%if (books.length > 0){ %>
                    <% books.forEach(function (PostBook) { %>
                    <div class ="post-bar">
                        <div class="row">
                            <div class="column">
                                <a target="_blank" href="">
                                    <img src="../uploads/<%=PostBook.Image %>"" alt="book" style="width:260px; height: 290px;">
                                </a>
                            </div>
                            <div class="column" style="margin-left:5%;">
                                <h3 class="post-details"><%= PostBook.Title %></h3>
                                <p class="post-details">Author: <%= PostBook.FName %> <%= PostBook.LName %></p>
                                <p class="post-details">Publisher: <%= PostBook.Publisher %></p>
                                <p class="post-details">Edition: <%= PostBook.Edition %></p>
                                <p class="post-details">Subject: <%= PostBook.Subject %></p>
                                <p class="post-details">ISBN: <%= PostBook.Isbn %></p>
                                <p class="post-details">Condition: <%= PostBook.Condition %> </p>
                                <p class="post-details">Description: <%= PostBook.Description %> </p>
                                <p class="post-details">Book Owner: <%= PostBook.OwnerFname %> <%= PostBook.OwnerLname %></p>
                                <p class="post-details">Renting Price: $<%= PostBook.Price %> </p>
                            </div>
                            </div>
                            
                            <div class ="edit_column"> 
                                <div class="btn-edit">
                                    <a class="btn btn-success btn-s" href="#">Rent Book</i></a>
                                </div>
                            </div>  
                    </div>
                    <% })}else{ %>
                        <h3 style="text-align: center;">No Record Found</h3>
                        <% } %>

            </div>
        </div>
        <footer class ="PostFooter">
            <p><small>Proudly Build in Detroit  © 2020 Team BookKeepers. All Rights Reserved. </small></p>
        </footer>
    </body>  
</html>