<!DOCTYPE>
<html>
    <head>
        <title> Wayne Book-Rental</title>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="Profile.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
       <body>
                <div type='container'> 
                    <h2>Your Wishlist</h2>
                    <section id="main-content">
                        <div id="book-feed" role="feed"></div>
                    </section>
                    <%if (books.length > 0){ %>
                    <% books.forEach(function (PostBook) { %>
                    <div class ="post-bar">
                        <div class="row">
                            <div class="column">
                                <a target="_blank" href="">
                                    <img src="../uploads/<%=PostBook.Image %>"" alt="book" style="width:260px; height: 290px;">
                                </a>
                            </div>
                            <div class="column" style="margin-left:5%;">
                                <h3 class="post-details"><%= PostBook.Title %></h3>
                                <p class="post-details">Author: <%= PostBook.FName %> <%= PostBook.LName %></p>
                                <p class="post-details">Publisher: <%= PostBook.Publisher %></p>
                                <p class="post-details">Edition: <%= PostBook.Edition %></p>
                                <p class="post-details">Subject: <%= PostBook.Subject %></p>
                                <p class="post-details">ISBN: <%= PostBook.Isbn %></p>
                                <p class="post-details">Condition: <%= PostBook.Condition %> </p>
                                <p class="post-details">Description: <%= PostBook.Description %> </p>
                                <p class="post-details">Book Owner: <%= PostBook.OwnerFname %> <%= PostBook.OwnerLname %></p>
                                <p class="post-details">Renting Price: $<%= PostBook.Price %> </p>
                            </div>
                            </div>
                            
                            <div class ="edit_column"> 
                                <div class="btn-edit">
                                    <!-- <a class="btn book" href="/edit/<%= PostBook._id %>">Edit</a>  -->
                                    <!-- <a class="btn book" href="/delete/<%= PostBook._id %>" > Delete</a> -->
                                    <a class="btn btn-primary btn-lg" href="/edit/<%= PostBook._id %>"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-danger btn-lg" href="/delete/<%= PostBook._id %>"><i class="fa fa-trash"></i></a>
                                </div>
                            </div>  
                            
                            <!-- Profile page needs to be active so we can put edit button on user's posts from profile page as well, 
                                and only the poster can edit the post-->
                                <!--<div class ="edit_column"> 
                                    <div class="btn-edit">
                                        <a href="views/Post-BookV2.ejs">
                                            <button class="btn book" > Edit</button>
                                        </a>
                                    </div>
                                </div>-->
            
                    </div>
                    <% })}else{ %>
                        <h3 style="text-align: center;">No Record Found</h3>
                        <% } %>

            </div>
        <footer class ="PostFooter">
            <p><small>Proudly Build in Detroit  © 2020 Team BookKeepers. All Rights Reserved. </small></p>
        </footer>
    </body>  
</html>